{% extends "layoutgeneral.html.twig" %}

{% block titre %}
    {{ parent() }} - modifier un resto
{% endblock %}

{% block contenu %}
    {% include "formulaire.html.twig" %}
    <p>Attention ! vous modifiez un resto existant.</p>
    <p><a href="{{ path('guide_michelin_accueil') }}">Abandonner</a></p>
{% endblock %}