<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
    </head>
<body>
    <h1>Michelin :</h1>
    <p>  Bonjour {{nom}} : Guide Michelin ... trouvez un restaurant<br>
        <a href="{{path('guide_michelin_menu')}}"/>Menu </a>
    </p>
</body>
</html>