<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
    </head>
<body>
    <h1>Michelin :</h1>
    <p>  Bienvenue dans le menu du Guide Michelin <br>
        <a href="{{path('guide_michelin_accueil')}}"/>Accueil</a>
    </p>
</body>
</html>