<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
    </head>
<body>
    <h1>Michelin :</h1>
    <p>  {{resto}}<br>
        <a href="{{path('guide_michelin_accueil')}}"/>Menu </a>
    </p>
</body>
</html>